$line-height: 40px;

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  //align-items: center;
  //display: block;
  height: $line-height;
  line-height: $line-height;
  background: rgba((lighten(grey, 10)), 0.6);
}
