tr:nth-child(1) {
  background: gold;
}
tr:nth-child(2) {
  background: silver;
}
tr:nth-child(3) {
  background: #a56d3b;
}

.test{
  margin-top: 100px;
}

tr{
  border-bottom: solid 2px rgb(221, 221, 221);
}

th {
  text-decoration: none;
  color: white;
  background-color: #26a69a;
  //background-color: rgba(0, 0, 0, 0.64);
}

table{
  width: 100%;
  height: 100%;
  table-layout: fixed;
  //border-spacing: 10px;
  //border-collapse: separate;
}
