
<mat-toolbar>
  <div fxHide.gt-xs class="hamburger-menu">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a [routerLink]="'main-page'"><img class="brand-logo" src="../../assets/img/PRZY1000.png" alt="sentino"></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
      <a [routerLink]="'quiz'">Quiz</a>
      </li>
      <li>
        <a [routerLink]="'highscores'">Highscores</a>
<!--        <a routerLink="'highscores'">Highscores</a>-->
      </li>
    </ul>
  </div>
</mat-toolbar>

