<!--<div class="header">-->
<!--  <a [routerLink]="'/'"><div class="logo"><i class="fas fa-cogs"></i>Przy100</div></a>-->
<!--  <input type="checkbox" id="chk">-->
<!--  <label for="chk" class="show-menu-btn">-->
<!--    <i class="fas fa-ellipsis-h"></i>-->
<!--  </label>-->

<!--  <div class="menu">-->
<!--    <a [routerLink]="">Home</a>-->
<!--    <a [routerLink]="'quiz'">QUIZ</a>-->
<!--    <a [routerLink]="'highscores'">Highscores</a>-->
<!--    <label for="chk" class="hide-menu-btn">-->
<!--      <i class="fas  a-times"></i>-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->



<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">PRZY100</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="quiz"><i class="material-icons left">play_circle_filled</i>Start Quiz</a></li>
      <li><a href="highscores"><i class="material-icons right">view_module</i>Highscores</a></li>
    </ul>
  </div>
</nav>
