
.hamburger-menu{
  right: 30px;
  position: absolute;
}

.brand-logo{
  //max-width: 10%;
  width: 70px;
  height: auto;
}

mat-toolbar{
  background-color: rgba(0, 0, 0, 0.73);
  height: 90px;
  border-bottom: 5px solid #26a69a;
  //position: fixed;
  top: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 6px -4px #222;
  -moz-box-shadow: 0 4px 6px -4px #222;
  box-shadow: 0 4px 6px -4px #222;
}

a {
  text-decoration: none;
  color: white;
}


a:hover, a:active {
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;


}

mat-toolbar{
  //border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar {
    border-radius: 0px;

  }
}

