<div class="row" *ngIf="quiz && this.quizService.quizProgress != 2">
  <div class="container">
    <span>Time Elapsed : {{this.quizService.displayTimeElapsed()}}</span>
    <div class="progress">
      <div class="determinate" [style.width.%]="(this.quizService.quizProgress+1)*50"></div>
    </div>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{this.quizService.quizProgress+1}}</span>
        <p>{{quiz.questionList[this.quizService.quizProgress].description}}</p>

      </div>
      <div class="card-action">
        <ul class="collection answer">
        <ng-container *ngFor="let answer of quiz.questionList[this.quizService.quizProgress].answersList">
          <li *ngIf="answer != null" class="collection-item" (click)="Answer(quiz.questionList[this.quizService.quizProgress].id, answer)">
            {{answer}}
          </li>
        </ng-container>
        </ul>
      </div>
    </div>
    <div *ngIf="quiz.questionList[this.quizService.quizProgress].correctSongUrl != null">
    <audio #player id="audio{{quiz.questionList[this.quizService.quizProgress].correctSongUrl}}" src="{{quiz.questionList[this.quizService.quizProgress].correctSongUrl}}" preload="auto">
      <p>Sorry, your browser does not support the <code>audio</code> element.</p>
    </audio>
    <button #button (click)="playSong(player)" [disabled]="!kupa" class="btn waves-effect waves-light" type="submit" name="action">
<!--    Play ({{countdown}} seconds)-->
    Play ({{timeLeft}} seconds)
  </button>
    </div>
  </div>
</div>
