//.spacer {
//  flex: 1 1 auto;
//}
//
//html {
//  height: 100%;
//}
//
//body {
//  min-height: 100%;
//  position: relative;
//  padding-bottom: 80px;
//}
//
//.panel.customClassa:hover:before{
//  opacity: 1;
//}
//.panel.customClass {
//  background-color: #34495e;
//  border-top: -5px;
//
//  .panel-heading {
//    display: block;
//    padding: 10px 10px;
//    background: #3498db;
//    position: relative;
//  }
//
//  .panel-heading:before {
//    content: "";
//    position: absolute;
//    width: 14px;
//    height: 14px;
//    background: #3498db;
//    //left: 20px;
//    bottom: -7px;
//    transform: rotate(45deg);
//  }
//
//  .panel-heading i {
//    margin-right: 10px;
//  }
//
//  .panel-heading div {
//    color: white;
//  }
//
//}
//
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input.ng-invalid.ng-dirty{
  border-bottom-color : rgba(76, 22, 55, 0.07) !important;
  box-shadow: 0 1px 0 0 #cee9e7 !important;
}

button.btn-submit{
  width: 100%;
}

ul.answer li:hover{
  background-color: #26a69a;
  color: #eafaf9;
  cursor: pointer;
}

ul li.selected{
  background-color: #26a69a !important;
  color: #eafaf9 !important;
}
