.header{
  text-align: center;
}

.card-image{
  padding-top: 20px;
  img{
    border-radius: 20px;
    max-width: 200px;
    display:flex;
    justify-content: center;
  }
}

.card{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn{
  width: 250px;
}

.score-form {
  //margin: 0;
  //padding: 0;
  //display: inline-block;
  //align-items: center;
  text-align: center;

  form{
    display: inline-block;
  }


  .input-field {
    margin: 0;
    align-items: center;
    transition: none;
    //display: block;
    //
    width: 250px;



}
  //.input-field.active  label {
  //  transform: translate(40px, 5px) scale(.75);
  //}

  .input-field input[type=text]:focus + label {
    //color: red;
    transform: translate(0px, 5px) scale(.75);

  }

  //.input-field .prefix.active {
  //  color: red;
  //}

  .input-field label{
    //display: block;
    text-align: center;
    //line-height: 150%;
    //font-size: .85em;
    width: 250px;
    transform-origin: top;
    //transform: translate(0, 16px) scale(1);
    //transition: all .1s ease-in-out;
  }

}

@media(max-width: 700px) {
.card-image{

  img{
  max-width: 150px !important;
  }
}
}
